/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
.vscode
__pycache__
.coverage
htmlcov
/ chess / src / __pycache__ 
/shakki/data/db.sqlite
/shakki/data/test_db.sqlite
